.table-view__wrapper {
    overflow: auto;
    .ant-table {
      background: transparent;
    }
    .ant-table-thead {
      tr {
        border-radius: 8px 8px 0px 0px;
      }
      tr th {
        background: #E1DDFA;
        font-weight: 600;
        color: #282726;
        font-size: 16px;
        padding: 21px 20px;
        &:before {
          display: none;
        }
      }
    }
    .ant-table-tbody {
      tr {
        td {
          padding: 18px 20px;
          color: #231814;
          min-height: 65px;
        }
        &:nth-child(odd) {
          background: #ECECEB;
        }
        &:nth-child(even) {
          background: transparent;
        }
        &:last-of-type {
          border-radius: 0 0 8px 8px;
        }
      }
    }
  }
  